body {
    padding-top: 50px;
    padding-right: 17px;
    padding-bottom: 10px;
    background: url('../img/bg.png');
}
.sidebar-nav {
    padding: 9px 0;
}
.navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00260e;
    background-image: -moz-linear-gradient(top, #134024, #00260e);
    background-image: -ms-linear-gradient(top, #134024, #00260e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134024), to(#00260e));
    background-image: -webkit-linear-gradient(top, #134024, #00260e);
    background-image: -o-linear-gradient(top, #134024, #00260e);
    background-image: linear-gradient(top, #134024, #00260e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'134024, endColorstr='#'00260e, GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .brand {
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff;
}
.navbar .nav > li > a {
    float: none;
    padding: 10px 10px 11px;
    line-height: 19px;
    font-size: 13px;
    color: #d3d3d3;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff !important;
    text-decoration: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #222222;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar .divider-vertical {
    height: 40px;
    width: 1px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #00260e;
    border-right: 1px solid #134024;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #51A351;
}
a {
    color: #51A351;
}
a:hover {
    color: #00260e;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
    background-color: #51A351;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    background-color: #51A351;
}
.dropdown-menu .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
span.user-actions, td div.btn-group {
    visibility: hidden;
}
table {
    background-color: #fdfdfd;
}
tr.pending-user:hover span.user-actions, tr.list-users:hover td div.btn-group, tr.list-roles:hover td div.btn-group {
    visibility:visible;
}

/*
 * Responsive table
 */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
    .table th, .table td {
        padding-left: 50%;
        border-top:0;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .list-users td:nth-of-type(1):before, .pending-user td:nth-of-type(1):before { content: "ID"; }
    .list-users td:nth-of-type(2):before, .pending-user td:nth-of-type(2):before { content: "Name"; }
    .list-users td:nth-of-type(3):before, .pending-user td:nth-of-type(3):before { content: "Http Destination"; }
    .list-users td:nth-of-type(4):before, .pending-user td:nth-of-type(4):before { content: "Response Code"; }
    .list-users td:nth-of-type(5):before, .pending-user td:nth-of-type(5):before { content: "Allowed Url"; }
    .list-users td:nth-of-type(6):before, .pending-user td:nth-of-type(6):before { content: "Actions"; }
    .list-roles td:nth-of-type(1):before { content: "ID"; }
    .list-roles td:nth-of-type(2):before { content: "Role"; }
    .list-roles td:nth-of-type(3):before { content: "Description"; }
    .list-roles td:nth-of-type(4):before { content: "Slug"; }
    .list-roles td:nth-of-type(5):before { content: "Actions"; }
}
#logo4{
    position: relative;
    float: right;
}.ui-widget-content {

}

#policys{
    height: 400px;
    width: 100%;

}
/******************************************************/
/*No borrar los estilos de abajo son muy inportantes*/

.treeview ul{ /*CSS for Simple Tree Menu*/
    margin: 0;
    padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
    background: white  url(../img/list.gif) no-repeat left center;
    list-style-type: none;
    padding-left: 22px;
    margin-bottom: 3px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
    background: white  url(../img/treePlus.gif) no-repeat left 1px;
    cursor: hand !important;
    cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
    display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
    cursor: default;
}


/**Cosas inportantes no borrar**/
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
/*bg.png*/
.ui-widget-header {
    border: 1px solid #AAA;
    background: url("../img/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCC;
    color: #222;
    font-weight: bold;
}
.ui-draggable-handle {
}
.ui-helper-clearfix {
    min-height: 0px;
}
.ui-widget-content {
    color: #222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

.foot{
    padding: 1%;
    margin: 2%;
    position: relative;
    bottom: 0px;
    width: 94%;
}

.profileButton{
    padding-top: 30px;

}

.divdatatable{

    position: relative;
    width: 160%;
    top: 71px;
    left: -70px;

}


.cien{
    width:100% !important;
}

.boton-agregar {
    background-image: url(../img/add.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    padding-left: 12px;
    vertical-align: middle;
    width: 30px !important;
    height: 30px !important;

}

.boton-eliminar {
    background-image: url(../img/cross.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    padding-left: 12px;
    vertical-align: middle;
    width: 30px !important;
    height: 30px !important;

}
.boton-editar {
    background-image: url(../img/pencil.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    padding-left: 12px;
    vertical-align: middle;
    width: 30px !important;
    height: 30px !important;
}
.boton-agregarpolicy {
    background-image: url(../img/add.png);
    background-color: transparent;
    background-repeat: no-repeat;
    padding-left: 15.9px;
}

.boton-eliminarpolicy {
    background-image: url(../img/cross.png);
    background-color: transparent;
    background-repeat: no-repeat;
    padding-left: 15.9px;
}

.boton-editarpolicy {
    background-image: url(../img/pencil.png);
    background-color: transparent;
    background-repeat: no-repeat;
    padding-left: 15.9px;

}

.boton-eliminarservice {
    cursor: default !important;
    background-image: url(../img/cross.png);
    background-color: transparent;
    background-repeat: no-repeat;
    padding-left: 15.8px;
    padding-right: 5px;
}

.boton-editarservice {
    cursor: default !important;
    background-image: url(../img/pencil.png);
    background-color: transparent;
    background-repeat: no-repeat;
    padding-left: 15.8px;
    padding-right: 5px;
}

.boton-monitor {
    background-image: url(../img/monitor.png);
    background-color: transparent;
    background-repeat: no-repeat;
    padding-left: 15.8px;
    padding-right: 5px;
}
.centro{
    width:72% !important;
}
.table2{
    position: fixed;
    width:21.5% !important;
    height: 50% !important;
    text-align: left;
    text-underline-position: alphabetic;
    overflow: scroll;
    resize: vertical;

}
/*.table3{
    position: static;
    width:65% !important;
}*/

#ProfilesView{

    border-style: solid;
    border-width: 1px;
    border-color: #000;
    position: fixed;
    width:21.5% !important;
    height: 50% !important;
    text-align: left;
    text-underline-position: alphabetic;
    overflow: scroll;
}

#TreeService{

    border-style: solid;
    border-width: 1px;
    border-color: #000;
    position: absolute;
    width:21.5% !important;
    height: 50% !important;
    text-align: left;
    text-underline-position: alphabetic;
    overflow: scroll;
}

.wiki-overflow-hidden{

    max-width:400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-profiles{
    width: 96%;
}

.dataTables_wrapper{


}

.dataTables_paginate{

}


.dataTables_filter{
    float: left !important;

}

.dataTables_info{

}

.tree_scroll{
    width: 200px;
    height: 400px;
    overflow: scroll;
}

.tree_flavor{
    width: 74%;
    height: 640px;
    top: 20%;
    bottom: 10%;
    position: relative;
    overflow: scroll;
}
.ui-layout-resizer {
    background-color: transparent !important;
    border: none;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{
    display: inline-block;
    width: 80%;
    position: absolute;
    left: 18%;
    top: 20%; }

.botonera{

    top: 15%;
    position: relative;
    left: 3%;
}



.north{
    position: relative;
    margin: 0px;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    width: auto;
    z-index: 0;
    padding: 10px;
    border: none;
    height: 84px;
    visibility: visible;
}

.west{
    position: relative;
    margin: 0% 0% 0% 3%;
    left: 0px;
    right: auto;
    top: 2px;
    bottom: 14%;
    height: 500px;
    z-index: 0;
    border: none;
    width: 20%;
    visibility: visible;
    display: block;
}

.center{

    position: relative;
    margin: 0% 0% 0% 3%;
    left: 23%;
    right: 0%;
    top: 24%;
    bottom: 14%;
    height: auto;
    width: 68%;
    z-index: 0;
    padding: 1%;
    border: medium none;
    visibility: visible;
}

.south{

    position: relative;
    margin: 0%;
    top: 90%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: auto;
    height: auto;
    z-index: 0;
    padding: 1%;
    border: none;
    visibility: visible;

}

.center-RedirectProfiles{

    position: absolute;
    margin: 0px;
    left: 10px;
    right: 10px;
    top: 180px;
    bottom: 148px;
    height: auto;
    width: auto;
    z-index: 0;
    padding: 10px;
    border: none;
    visibility: visible;
}

.treeServiceEditor{

    position: absolute;
    margin: 0px;
    left: 0px;
    right: auto;
    top: 220px;
    bottom: 148px;
    height: 394px;
    z-index: 0;
    padding: 10px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(187, 187, 187);
    overflow: auto;
    width: 178px;
    display: block;
    visibility: visible;
    resize: none;

}

.tree2{
    position: relative;
    top: 20px;
    overflow: scroll;
    width: 100%;
    display: block;
    visibility: visible;
    bottom: 14%;
    height: 500px;
    z-index: 0;
    padding: 1%;
    border: 1px solid rgb(187, 187, 187);
}

.centerTableCategoryAndFlavor{

    position: absolute;
    margin: 0% 0% 0% 3%;
    left: 23%;
    right: 0%;
    top: 20% !important;
    bottom: 14%;
    height: auto;
    width: 68%;
    z-index: 0;
    padding: 1%;
    border: medium none;
    visibility: visible;
}

.lista {
    display: inline-block;
    position: absolute;
}

.errorPolicy{

    border-color: red;
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: red;
    border-left-color: red;
    outline: 0px none;
    outline-width: 0px;
    outline-style: none;
    outline-color: -moz-use-text-color;
    box-shadow: 0px 1px 1px red inset, 0px 0px 8px red;

}

.errorTree{

    border-color: red;
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: red;
    border-left-color: red;
    outline: 0px none;
    outline-width: 0px;
    outline-style: none;
    outline-color: -moz-use-text-color;
    box-shadow: 0px 1px 1px red inset, 0px 0px 8px red;

}

.database_ip{
    position: relative;
    float: left;
    display: inline;
    left: 180px;
    bottom: 90px;
    
}
.table-policy{

    left: 21% !important;
}
.top-cero{
    top:12px;
}
.height-7{
    height: 7% !important;
}
.cursorDefault{
    cursor: default !important;
}

.button-addflavoritem{

    position: relative;
    right: 40%;

}
.table-margin{
    top:-520px !important;
    margin-left: 5% !important;
    width:67%!important;

}
.button-table-policy{
    position: relative;
    margin-left:  0% !important;
    top: -500px !important;
    margin-left: 5% !important;
    width:20%!important;
    height: 2% !important; 
}
.botones-DeleteConfirm{

}
/*margin-left:  0% !important;'*/     
.foot-fixed{

    padding: 1%;
    margin: 2%;
    position: fixed;
    bottom: 0px;
    width: 94%;

}

.subtitulo{
   
    text-decoration:underline;
    text-align:center;
}

.hiddenRow {
    padding: 0 !important;
}